
<% provide(:title, 'About us') %>
<!DOCTYPE html>
<html>

<h1>About us</h1>
<p>
	This my sample_app.<em>Please push to git</em>
</p>
<%= link_to image_tag("ownlogo.png", :alt => "Nerds") , 'http:///home/richie/Ruby/sample_app/app/assets/images' %>
</html>
