<% provide(:title, 'Help') %>
<style>
        #main{
                background: white;
                padding: 15px;
        }
        #header{
                background: white;
                padding: 15px;
        }
</style> 
<h1 id="header">Help</h1>
<div id="main">
	<p>
	Get help at
		<a href ="http://railstutorial.org/help">HELP</a>.
		To ge help go to this website
		<a href ="http://google.ca">I need Help</a>
	</p>
</div>

