<% provide(:title, 'Home') %> <!-- everything is referenced in application.html -->  
<!--<form class ="navbar-form navbar-left" role="search">
	<input type ="text" class="form-control" placeholder= "Search">
        <button type ="submit" class="btn btn">Submit</button> 
</form>	-->
<br/><br/><br/><br/>
<div class = "center hero-unit">
     
	<h1 class="headline_for_h1">Welcome to, Operating Systems Forum</h1>
	<h2>
		Forum page for CSE 3221   
		<a href="#"> OS</a>
	</h2>
	
	<%= link_to "Sign up now!", signup_path , :class => "btb btn-large btn-primary" %>
	
	<div class="center hero unit">
		<h3><em>Already a user? Then sign in here</em></h3>
		<%= link_to "Sign in", signin_path , :class=> "btn btn-success" %>
	</div>
	
</div>
	
<%= link_to image_tag("ownlogo.png", :alt => "Nerds") , 'http:///home/richie/Ruby/sample_app/app/assets/images' %>

