<% provide(:title, 'Current News') %>
<!DOCTYPE html>
<html>
     <style>
        #main{
                background: white;
                padding: 15px;
        }
        #header{
                background: white;
                padding: 15px;
        }
     </style>   
<h1 id="header" >Current News</h1>
<body>
        <div id="main">
                <p>
                        This is the News Page for <em>CSE 3482 .</em> Check regularly for Updates on the Course
                        <ul>
                                <li>No news as of now. Stay Safe CS bruhs</li>
                        </ul>
                </p>
        </div>        
</body>
</html>
