<% provide(:title, 'Current News') %>
<!DOCTYPE html>
<html>
<h1>Current News</h1>
<body bgcolor="#E6E6FA">
        <p>
                This is the News Page for <em>CSE 3482 .</em> Check regularly for Updates on the Course
                <ul>
                        <li>No news as of now. Stay Safe CS bruhs</li>
                </ul>
        </p>
</body>
</html>
