
<% provide(:title, @user.name)  %>
<div class ="row">
  <aside class="span4" style="float:left;">
    <section>
       <%= gravatar_for @user %>
      <h1 class="embossed_text">
        <%= @user.name  %> 
    </h1>
    </section>
  </aside>
</div>


<!--<%= @user.name %> , <%= @user.email %> -->