@import "bootstrap";
/* universal design note syntax error will cause whole app to crash*/
html{
	overflow-y: scroll;
}

body{
	padding: 30px;
	/*background-image: url("front.jpg");*/
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ) , url("front.jpg");
	margin: 0px;
	background-color: #ccc;
	position:relative;
        z-index:0;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}
/* Style for menu */
nav{
	
}
@media screen and (min-width: 600px) {
  .men li {
    width: 120px;
    border-bottom: none;
    height: 150px;
    line-height: 150px;
    font-size: 1.4em;
  }
}
 
/*nice menu */
.clearfix:after{
	display:block;
	clear: both;
}

.menu-wrap{
	width:100%; /*change this for vertical or horizontal menu */
	box-shadow: 0px 1px 3px rbga(0,0,0,0.2);
	background: #CC0AB0;
}
.menu{
	width:100%;
	margin: 0px auto;
	
}
.menu li{
	margin: 0px;
	list-style: 'Ek Mukta';
	display: inline-block;
	
	
}
.menu a {
	transition: all linear 0.15s;
	color: #070808;
	text-decoration: underline;
	background-color: #D2EFFA;
}

.menu li:hover > a,.menu .curent-item > a{
	text-decoration: none;
	color: black;
}
.menu .arrow{
	font-size: 11px;
	line-height: 0%;
}
/* Top level Menu */
/*----- Top Level -----*/
.menu > ul > li {
    display:inline-block;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:20px 50px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#F20FC9;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity: 1;
}
 
/*end of menu */

.center{
	text-align: center; /* strict Sass style  with nesting*/
 h1{
	margin-bottom: 10px;
 }
 h3{
	margin-top: 40px;
	margin-bottom: 10px;
 }
}

form{
	padding-top: -100px;
}
nav{
	position: relative;
	
}

@mixin box_sizing{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}
/*Buttons*/
$DeepRed : #D12405;
.btn-primary:hover{
	color: $DeepRed;
}

.btn-primary{
	border-color: #4f2b24;
	color: 	#18FA1B;
	font-family: monospace;
}
.btn-success{
	border-color: #4f2b24;
	color: 	#ffffff;
	font-family: monospace;
}
.btn-success:hover{
		color: $DeepRed	
	}

	/*sidebar*/
aside{
	section{
		padding:  10px;
		border-top: 1px solid #d3d3d3;
		&:first-child{
			border:  0px;
			padding-top: 0;
		}
		span{
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
	}
}
/*typograhy*/
h1 , h2, h3, h4, h5, h6{
	line-height: 1;
}
h1{
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;
	font: 80px 'LeagueGothicRegular';
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
}

h2{
	font-size: 1.8em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #f698e5;
}

p{
	font-size: 1.5em;
	line-height: 1.8em;
	letter-spacing: 2px;
	text-align: center;
}
.headline_for_h1{
	font-family:Georgia,serif;
	color:#4E443C;
	font-variant: small-caps;
	ext-transform: none;
	font-weight: 100;
	margin-bottom: 0;
}
/* header */
#logo{
	float: left;
	margin-right: 10px;
	font-size: 1.8em;
	color: #e0ca38;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-weight: bold;
	line-height: 2;
}
#logo:hover {
	color: #e0ca38;
	text-decoration: none;
}
/* footer notes nice scss */
footer{
    height: auto;
    font-size:12px;
    position:absolute;
    z-index: 1;
    width:80%;
    bottom: 0px;
    background-color:#31353a;
    background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
    background-image:-moz-linear-gradient(top, #31353a, #2f3337);
    background-image:linear-gradient(top, #31353a, #2f3337);
}

footer > ul{
    width:150%;
    position:relative;
    left:50%;
    bottom:0;
    margin-left:-480px;
    padding-bottom: 60px;
    z-index:-1;
    
}
footer > ul > li{
    margin-left:0%;
    margin-right:5%;
    text-transform: uppercase;
    font-weight:bold;
    line-height:1.8;
    display: inline-block;
    position:relative;
}

footer ul{
    list-style: none;
}

/* The links */

footer > ul > li ul li{
    margin-left:0%;
    margin-right:10%;
    text-transform: uppercase;
    font-weight:bold;
    line-height:1.8;
   /* display: inline-block;*/
    position:relative;
    top: 45px;
}

footer > ul > li ul li a{
    text-decoration: none !important;
    color:#7d8691 !important;
}

footer > ul > li ul li a:hover{
    color:#ddd !important;
}

/* The comp Sec logo */
footer a.logo{
    color: #e4e4e4 !important;
    text-decoration: none !important;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    margin-left: 16px;
   display: inline-block;
    margin-top: 7px;
    top: 5px;
}

footer a.logo i{
    font-style: normal;
    position: absolute;
    width: 60px;
    display: block;
    left: 48px;
    top: 18px;
    font-size: 12px;
    color: #999;
}

footer a.logo:before{
    content: '';
    display: inline-block;
    background: url('../img/sprite.png') no-repeat -19px -70px;
    width: 48px;
    height: 37px;
    vertical-align: text-top;
}


footer > ul > li:hover p{
    opacity:1;
}


/*misc */
.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	//@include box_sizing;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*images with gravater*/
.gravatar{
	float:left;
	margin-right: 10px;
}

/* forms */
input, textarea , select, .uneditable-input{
	//text-align: center;
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	@include box_sizing;
}

#error_explanation{
	color: #e00;
	ul{
		list-style: none;
		margin: 0 0 20px 0;
	}
}

.field_with_errors{
	@extend .control-group;
	@extend .error;
}
/* div for Sign up page */
#div_signup{
	background-color: white;
	width: 700px;
	padding: 50px;
	border: 5px solid rgba(255,255,255,.5);
	margin-left: 10%;
	margin-right: 0%;	
}

#div_for_users{
	background-color: white;
	width: 700px;
	padding: 50px;
	border: 5px solid rgba(255,255,255,.5);
	margin-left: 10%;
	margin-right: 0%;	
}
/* users styling */
.users {
	list-style: none;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px;
		border-top: 5px solid black;
		&:last-child{
			border-bottom: 5px solid black;
		}
	}
}

.example_user{
	color: #0C0C0C;
	font-family: algerian;
	font-style: italic;
	font-size: large;
}
.embossed_text{
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	color: #050505;
	opacity: 0.9;
	font: 50px 'Museo700';
	text-align: left;
}
/*micropost styling */
.microposts{
	list-style: none;
	margin: 10px 0 0 0;
	background-color: white;
	li{
		padding: 10px;
		border-top: 1px solid #e8e8e8;
	}
}
.content{
	display: block;
	font-family: fantasy;
	font-style: normal;
}
.timestamp{
	color: red;
}
.gravatar{
	float: left;
	margin-right: 10px;
}
aside{
	textarea{
		height: 100px;
		margin-bottom: 5px;
	}
}

.paginate_for_users{
	background-color: white;
}
.richee_feed{
	margin: 1em 0 0.5em 0;
	color: #0E2FED;
	font-weight: normal;
	font-family: 'Ultra', algerian;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
	text-align: center;
	/* transition*/
	width: 100px;
	height: 100px;
	background: red;
	-webkit-transition: width 2s;
	transition: width 2s;
}
.richee_feed:hover{
		width:350px;
}






