@import "bootstrap";
/* universal design note syntax error will cause whole app to crash*/
html{
	overflow-y: scroll;
}

body{
	padding-top: 50px;
	background-image: url("front.jpg");
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center{
	text-align: center; /* strict Sass style  with nesting*/
 h1{
	margin-bottom: 10px;
 }
 h3{
	margin-top: 40px;
	margin-bottom: 10px;
 }
}

form{
	padding-top: -100px;
}
nav{
	position: relative;
	
}

@mixin box_sizing{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}
/*Buttons*/
$DeepRed : #D12405;
.btn-primary:hover{
	color: $DeepRed;
}

.btn-primary{
	border-color: #4f2b24;
	color: 	#18FA1B;
	font-family: monospace;
}
.btn-success{
	border-color: #4f2b24;
	color: 	#ffffff;
	font-family: monospace;
}
.btn-success:hover{
		color: $DeepRed	
	}

	/*sidebar*/
aside{
	section{
		padding:  10px;
		border-top: 1px solid #d3d3d3;
		&:first-child{
			border:  0px;
			padding-top: 0;
		}
		span{
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
	}
}
/*typograhy*/
h1 , h2, h3, h4, h5, h6{
	line-height: 1;
}

h1{
	font-size: 4em;
	letter-spacing: -3px;
	margin-bottom: 30px;
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
}

h2{
	font-size: 1.8em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #f698e5;
}

p{
	font-size: 1.5em;
	line-height: 1.8em;
	letter-spacing: 2px;
	text-align: center;
}
.headline_for_h1{
	font-family:Georgia,serif;
	color:#4E443C;
	font-variant: small-caps;
	ext-transform: none;
	font-weight: 100;
	margin-bottom: 0;
}
/* header */
#logo{
	float: left;
	margin-right: 10px;
	font-size: 1.8em;
	color: #e0ca38;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-weight: bold;
	line-height: 2;
}
#logo:hover {
	color: #e0ca38;
	text-decoration: none;
}
/* footer notes */
$DarkBlue : #1442fb;
$Green: #F50C81;
footer{
	margin-top : 250px;
	padding-top: 10px;
	border-top: 4px solid #0C27F5;
	color: $Green;
}
footer a{
	color: $Green;
}
$pink : #FB1436;
footer a:hover{
	color: pink; 
}
footer small{
	float: right;
	padding-top: 2px;
	color: $Green;
}
footer ul{
	padding-top: 2px;
	float :left;
	list-style: none;
	color: $Green;
}
footer ul li{
	float: left;
	margin-left: 8px;
	color: $Green;
}

/*misc */
.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	//@include box_sizing;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*images with gravater*/
.gravatar{
	float:left;
	margin-right: 10px;
}

/* forms */
input, textarea , select, .uneditable-input{
	//text-align: center;
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	@include box_sizing;
}

#error_explanation{
	color: #f00;
	ul{
		list-style: none;
		margin: 0 0 20px 0;
	}
}

.field_with_errors{
	@extend .control-group;
	@extend .error;
}
/* div for Sign up page */
#div_signup{
	background-color: #F7EDF2;
	width: 700px;
	padding: 50px;
	border: 10px solid gray;
	margin-left: auto;
	margin-right: auto;	
}













