<footer class ="footer"
    <nav>
    <ul>
      <li><%= link_to "About", about_path %> </li>
       <li><%= link_to "Help", help_path %> </li>
      <li> <a href= "newsupdate.html"> Current News</a></li>
    </ul>
    </nav>
  <small><p>By Richmond Frimpong</p></small>  
      
  </footer>