<!--<footer class ="footer">
  <nav>
    <ul>
      <li><%= link_to "About", about_path %> </li>
       <li><%= link_to "Help", help_path %> </li>
      <li> <a href= "newsupdate.html"> Current News</a></li>
    </ul>
  </nav>
  <small><p>By Richmond Frimpong</p></small>  
      
  </footer> -->
  
  <footer>

    <ul>
        <li><a class="logo" href="https://www.linkedin.com/profile/view?id=410805035&trk=nav_responsive_tab_profile_pic">RICHMOND FRIMPONG <i>&copy; 2015</i></a></li>
        <li><%= link_to "About", about_path %> </li>
        <li><%= link_to "Help", help_path %> </li>
        <li> <a href= "newsupdate.html"> Current News</a></li>
        
        <li>
            <nav>
              <ul>
                <li><a href="richee305@yahoo.ca">Email</a></li>
                <li><a href="https://twitter.com/Richboy_Money">Twitter</a></li>
                <li><a href="https://facebook.com">Facebook</a></li>
              </ul>
            </nav>
        </li>
    </ul>

</footer>
  